* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(48, 225, 4, 0.693);
}

.principal {
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.registro {
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  background: white;
  flex-direction: column;
}

.registro h1 {
  font-size: 35px;
}

.redes {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.btn-1 {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50px;
  background: white;
}
